@page "/"
@inherits PageBase<Dashboard>
@using Newtonsoft.Json;
@using SentientTwitter.Pages.Components;
@using SentientTwitter.Data;
@using SentientTwitter.Services;
@using System.Diagnostics;
@using static SentientTwitter.Services.TwitterService

@*HEADER*@
<div class="offset-1 col-10 section-spacing d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
    <div class="flex-grow-1 mb-1 mb-md-0">
        <h1>
            Tweet Fleet
        </h1>
        <h2 class="h6 fw-medium text-muted mb-0">
            Real-time Twitter Stream with Tweet Sentiment
        </h2>
    </div>

    <div class="float-end">
        <label class="switch">
            <input type="checkbox" @bind="IsStreamOpen" disabled>
            <span class="slider round"></span>
        </label>
    </div>
</div>

@*KPIs*@
<div class="offset-1 col-10 section-spacing d-flex flex-row flex-wrap justify-content-between align-self-stretch">

    <div class="d-flex flex-column justify-content-between">
        <div class="block block-rounded d-flex flex-column h-100 mb-4">
            <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                <dl class="mb-0">
                    <dt class="fs-3 fw-bold header-color">@AllItems.Count()</dt>
                    <dd class="flex-sm-column fw-medium fs-sm text-muted mb-0">Total Tweets</dd>
                </dl>
                <div class="item item-rounded-lg bg-body-light">
                    <i class="fa-brands fa-twitter fs-3 text-info"></i>
                </div>
            </div>
            <div class="bg-body-light rounded-bottom">
                <a class="link-no-decoration block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                    <span role="button">View History</span>
                    <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                </a>
            </div>
        </div>

        <div class="block block-rounded d-flex flex-column h-100 mb-4">

            <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                <dl class="mb-0">
                    <dt class="fs-3 fw-bold header-color">@TrendingSubject</dt>
                    <dd class="flex-sm-column fw-medium fs-sm text-muted mb-0">Trending Subject</dd>
                </dl>
            </div>
            <div class="bg-body-light rounded-bottom">
                <a class="link-no-decoration block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                    <span role="button">Filter on Subject</span>
                    <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="block block-rounded d-flex flex-column h-100 mb-4 align-self-center">
        <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
            <ul>
                <Virtualize Items="TopHashtags" Context="hashtag">
                    <ItemContent>
                        <li class="row textClass" @onclick="(async() => {await SetFilters(hashtag);})">
                            #@hashtag
                        </li>
                    </ItemContent>
                    <Placeholder>
                        <p>No hashtags to display...</p>
                    </Placeholder>
                </Virtualize>
            </ul>
        </div>
        <div class="bg-body-light rounded-bottom">
            <a @onclick="(async() => {await SetFilters(string.Empty, true);})" class="link-no-decoration block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                <span role="button">View Top Hashtags</span>
                <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
            </a>
        </div>
    </div>

    @*TWEET DETAILS*@
    <div class="col-xl-6 col-sm-12">
        <div class="card-styles" style="height:100%;">
            <div class="block-header block-header-default bg-info-light">
                <h3 class="block-title text-info">Snapshot</h3>
            </div>
            @if (string.IsNullOrWhiteSpace(Model.Text))
            {
                <div class="flex-grow-1 d-flex align-items-center justify-content-center p-3">
                    <p class="text-center fw-bold mt-4">Please select a tweet to analyze!</p>
                </div>
            }
            else
            {
                <div class="flex-grow-1 d-flex align-items-center p-3">
                    <div class="row align-items-center w-100">
                        <div class="col-6 text-center textClass align-content-center fst-italic">
                            <p>@Model?.Text</p>
                        </div>

                        <div class="col-6" style="text-align:end;">
                            @if (Model is not null && Model.Sentiment is not null)
                            {
                                <div class="row textClass justify-content-between">
                                    <div class="col-4">
                                        Sentiment
                                    </div>
                                    <div class="col-6 text-break">
                                        <span class="col-6 text-break text-details text-muted fw-bold">
                                            @Model.Sentiment.Sentiment
                                        </span>
                                    </div>
                                </div>

                                <div class="row textClass justify-content-between">
                                    <canvas id="chartjs-pie"></canvas>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @if (Model.Entities is not null)
                {
                    <div class="flex-grow-1 d-flex align-items-center p-3 justify-content-around flex-wrap">
                        @if (Model.Entities.urls is not null)
                        {
                            @foreach (var url in Model.Entities.urls)
                            {
                                <div class="row text-center textClass fst-italic">
                                    <p>@url.url</p>
                                </div>
                            }
                        }

                        @if (Model.Entities.hashtags is not null)
                        {
                            @foreach (var tag in Model.Entities.hashtags)
                            {
                                <div class="row text-center textClass fst-italic">
                                    <p>@tag.tag</p>
                                </div>
                            }
                        }

                        @if (Model.Entities.mentions is not null)
                        {
                            @foreach (var mention in Model.Entities.mentions)
                            {
                                <div class="row text-center textClass fst-italic">
                                    <p>@mention.username</p>
                                </div>
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>

</div>

@*Active Filters*@
<div class="offset-1 col-10 section-spacing d-flex flex-row flex-wrap justify-content-between align-self-stretch">
    <div class="row justify-content-around w-100">
        @foreach (var tag in FilteredHashtags)
        {
            <span @onclick="(() => {RemoveFilter(tag);})" class="textClass fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success" style="width:auto;">@tag</span>
        }
    </div>
</div>

@*Streams*@
<div class="offset-1 col-10 section-spacing d-flex flex-row flex-row-wrap justify-content-between align-self-stretch">

    @*Live Stream*@
    <div style="flex: 1 1 0;">
        <ItemGrouping Items="AllItems" IsFilteringEnabled="IsFilterEnabled" Callback="ShowDetails" />
    </div>

    @*Filtered Stream*@
    @if (IsFilterEnabled)
    {
        <div style="flex: 1 1 0;">
            <ItemGrouping Items="AllItems" IsFilteringEnabled="IsFilterEnabled" Filters="FilteredHashtags" Callback="ShowDetails" />
        </div>
    }

</div>

<style>
    ul.no-bullets {
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margins */
    }

    .block-title {
        flex: 1 1 auto;
        min-height: 1.75rem;
        margin: 0;
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.75rem;
        text-transform: uppercase;
        letter-spacing: .0625rem;
        color: #334155;
    }

    .block-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.625rem 1.25rem;
        transition: opacity 3s ease-out;
    }

    .card-styles {
        border-radius: 0.3rem;
        background: #ffffff;
        box--moz-box-shadow: 0 1px 2px rgb(214 219 226 / 50%), 0 1px 2px rgb(214 219 226 / 50%);
    }

    .rounded-pill {
        border-radius: 50rem !important;
    }

    .bg-success-light {
        background-color: #e0edcf !important;
    }

    .text-success {
        color: #65a30d !important;
    }

    .text-info {
        color: #0891b2 !important;
    }

    .bg-info-light {
        background-color: #cee9f0 !important;
    }
</style>

@code {
    public List<TweetModel> AllItems { get; set; } = new();

    public bool IsFilterEnabled;

    public bool IsStreamOpen
    {
        get
        {
            return _isStreamOpen;
        }
        set
        {
            _isStreamOpen = value;
            ToggleStream(value);
        }
    }
    private bool _isStreamOpen { get; set; } = true;

    public TweetModel Model { get; set; } = new();

    // Popular Topic
    public Dictionary<Hashtag, int> HashTags { get; set; } = new();
    public Dictionary<Domain, int> Topics { get; set; } = new();
    public Dictionary<Entity, int> Subjects { get; set; } = new();

    public List<string> TopHashtags { get; set; } = new();
    public List<string> FilteredHashtags { get; set; } = new();
    public string TrendingTopic { get; set; } = string.Empty;
    public string TrendingSubject { get; set; } = string.Empty;

    public string Filter { get; set; } = string.Empty;

    // Chart
    private IJSObjectReference ChartsModule { get; set; }
    public List<ChartData> PieChartData { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            try
            {
                _twitterService.TweetReceived += ProcessTweet;
                await _twitterService.StartStream();
            }
            catch (Exception ex)
            {
                System.Diagnostics.Debug.WriteLine($"Could not start stream: {ex}");
            }
        }
    }

    // Twitter Service Callback
    public async void ProcessTweet(object sender, TweetEventReceived eventArgs)
    {
        var newTweet = CreateTweetFromStream(eventArgs.TweetStream);
        AllItems.Add(newTweet);

        CalculateTrending(eventArgs.TweetStream).ConfigureAwait(false);
        await InvokeAsync(StateHasChanged);
    }

    // Convert from Stream to Tweet Model
    public TweetModel CreateTweetFromStream(TweetStreamData stream)
    {
        return new TweetModel()
            {
                Id = stream.data.id,
                Text = stream.data.text,
                Language = stream.data.lang,
                Name = $"Tweet-{stream.data.id}",
                Domain = stream.data.context_annotations is not null ? stream.data.context_annotations.FirstOrDefault()?.domain : null,
                Entity = stream.data.context_annotations is not null ? stream.data.context_annotations.FirstOrDefault()?.entity : null,
                Entities = stream.data.entities
            };
    }

    // Calculate Hashtags, Domains, and Subjects
    public async Task CalculateTrending(TweetStreamData tweetStream)
    {
        try
        {
            // Hashtags
            if (tweetStream.data.entities is not null)
            {
                var hashtags = tweetStream.data.entities.hashtags;
                if (hashtags is not null)
                {
                    foreach (var tag in hashtags)
                    {
                        var matchTag = HashTags.Where(x => x.Key.tag.ToUpper().Trim() == tag?.tag.ToUpper().Trim()).FirstOrDefault();
                        if (matchTag.Key is null)
                        {
                            HashTags.Add(tag, 1);
                        }
                        else
                        {
                            HashTags[matchTag.Key] = matchTag.Value + 1;
                        }
                    }
                }

                TopHashtags = HashTags.OrderByDescending(x => x.Value).Select(y => y.Key.tag).Take(10).ToList();
            }

            // DOMAIN and ENTITY
            if (tweetStream.data.context_annotations is not null)
            {
                foreach (var context in tweetStream.data.context_annotations)
                {
                    // TOPIC
                    var topic = context.domain;
                    if (topic is not null)
                    {
                        var match = Topics.Where(x => x.Key.name.ToUpper().Trim() == topic?.name.ToUpper().Trim()).FirstOrDefault();
                        if (match.Key is null)
                        {
                            Topics.Add(topic, 1);
                        }
                        else
                        {
                            Topics[match.Key] = match.Value + 1;
                        }

                        TrendingTopic = Topics.OrderByDescending(x => x.Value).FirstOrDefault().Key.name.ToString();
                    }

                    // SUBJECT
                    var subject = context.entity;
                    if (subject is not null)
                    {
                        var match = Subjects.Where(x => x.Key.name.ToUpper().Trim() == subject?.name.ToUpper().Trim()).FirstOrDefault();
                        if (match.Key is null)
                        {
                            Subjects.Add(subject, 1);
                        }
                        else
                        {
                            Subjects[match.Key] = match.Value + 1;
                        }

                        TrendingSubject = Subjects.OrderByDescending(x => x.Value).FirstOrDefault().Key.name.ToString();
                    }
                }
            }

        }
        catch (Exception ex)
        {
            Debug.WriteLine($"Could not finish trending tasks: {ex}");
        }
    }

    // Analyze Sentiment and Render Chart
    public async void ShowDetails(TweetModel tweet)
    {
        try
        {
            Model = tweet;
            Model.Sentiment = await _textAnalyzerService.AnalyzeText(tweet.Text);
            StateHasChanged();

            ChartsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", new CancellationToken(), "./js/GeneratedJS/ItemCharts.js");
            RenderCharts();
        }
        catch (Exception ex)
        {
            Debug.WriteLine($"Issue showing tweet details: {ex}");
        }
    }

    public async Task SetFilters(string filter, bool isAllFilters = false)
    {
        IsFilterEnabled = true;

        if (isAllFilters)
        {
            // Add all filters
            FilteredHashtags.Clear();
            FilteredHashtags.AddRange(TopHashtags);
        }
        else
        {
            // Add filter if it doesn't already exist
            if (!FilteredHashtags.Contains(filter))
            {
                FilteredHashtags.Add(filter);
            }
        }

        await InvokeAsync(StateHasChanged);
    }

    public async Task RemoveFilter(string filter)
    {
        FilteredHashtags.Remove(filter);

        if (FilteredHashtags.Count() == 0)
        {
            IsFilterEnabled = false;
        }

        await InvokeAsync(StateHasChanged);
    }

    public async void RenderCharts()
    {
        try
        {
            // Pie Chart Data
            var Percentages = new decimal[] {
                (decimal)Model.Sentiment.ConfidenceScores.Positive * 100,
                (decimal)Model.Sentiment.ConfidenceScores.Neutral * 100,
                (decimal)Model.Sentiment.ConfidenceScores.Negative * 100};

            await ChartsModule.InvokeVoidAsync("RenderCharts", new CancellationToken(), Percentages);
        }
        catch (Exception ex)
        {
            Debug.WriteLine($"Issue rendering charts: {ex}");
        }
    }

    public async Task ToggleStream(bool isOpen)
    {
        if (isOpen)
        {
            await _twitterService.StartStream();
        }
        else
        {
            await _twitterService.StopStream();
        }
    }
}
